{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Mashead header-->
<div class = "gold-113">
<script src="https://kit.fontawesome.com/4f4953a7c7.js" crossorigin="anonymous"></script>
    <div class="container px-5">
        <div class="row gx-5 align-items-center" style="padding-top: 200px; padding-bottom:150px;">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start" style="padding-top: 50px;">
                    <img src="{% static '/assets/img/title.png' %}" style="width: 650px; height:auto; max-width:100%;"><br><br>
                    
                </div>
            </div>
            <div class="col-lg-6">
                    <div class="obj">
                        
                        <div class="button" id="circlein" style="float:Right; padding-Right:130px">
                            <div class="words" style="padding-bottom:50px;"></div>
                            
                            <i class="fa-solid fa-microphone-lines fa-border fa-5x" ></i>
                        </div>
                    </div>
                    <script src="../../static/js/app.js"></script>    
            </div>
            </div>
        </div>
    </div>
</div>    
</header>
{% endblock %}