{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="p-5" style="background-color : #FFCC66;">
    <div class="container px-5 px-lg-5 my-5 mt-10">
        <div class="text-center text-white"style="width:center; height:center;" >
            <br><br><br>
            <h1 class="display-4 fw-bolder b-1" >체크 상품을 담으시겠습니까?</h1>
            <p class="lead fw-normal b-2" style="width:center;">맞으면 '네' 아니면 추가 하거나 뺄 항목을 말씀해주세요</p>
        </div>
    </div>
</header>
<section class="container cta-100">
    <div class="container">
        <div class="row blog">
            <div class="card">
                {% for list in irdent %}
                    <img src="{% static '/images/cham.png' %}" />
                    <div class="text-center">
                        {{ list.idn }}<br>
                        <input type="checkbox" style="width:30px; height:30px; accent-color: #FF5E05;" checked>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}