{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="p-5" style="background-color : #FFCC66;">
    <div class="container px-5 px-lg-5 my-5 mt-10">
        <div class="text-center text-white"style="width:center; height:center;" >
            <br><br><br>
            <h1 class="display-4 fw-bolder b-1" >체크 상품을 담으시겠습니까?</h1>
            <p class="lead fw-normal b-2" style="width:center;">맞으면 '네' 아니면 추가 하거나 뺄 항목을 말씀해주세요</p>
        </div>
    </div>
</header>

<div class="py-4">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-2 row-cols-md-4 row-cols-xl-5 justify-content-center">
            {% for value in irdent_dict.values %}
                <div class="card text-center">
                    <img class="card-body" src="{% get_static_prefix %}images/IMAGE/{{ value.gd_nm }}.jpg" width="230px" height="200px">
                    {{ value.gd_nm }}
                    <div class="text-center">
                    <input type="checkbox" style="width:30px; height:30px; accent-color: #FF5E05;" checked>
                    </div>
                </div>
                    
                {% endfor %}
        </div>
    </div>
</div>
<form method="POST" action="{% url 'main:third' %}" >
    <div id="test_view">
        <input type="hidden" id="test_value" name="test_value" value="{{ irdent_dict }}">
    </div>
    <div style="text-align:center; margin:50px;">
        <button type="submit">다음으로</button>
    </div>
</form>
{% endblock %}

{% block script %}
<script type='text/javascript'>
    function test() {
    }
</script>
{% endblock %}