<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Application</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="words"></div>

    <div class="obj">
        <div class="button" id="circlein">
            <svg class="mic-icon" version="1.1"
                 x="0px" y="0px" viewBox="0 0 3000 3000"
                style="fill:#1E2D70">
            </svg>
        </div>
    </div>

    <script src="../../static/js/app.js"></script>
</body>

</html>
