{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<body>
<div class=" p-1">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="border-0 text-uppercase small font-weight-bold">상품이미지</th>
                    <th class="border-0 text-uppercase small font-weight-bold">재료명</th>
                    <th class="border-0 text-uppercase small font-weight-bold">상품명</th>
                    <th class="border-0 text-uppercase small font-weight-bold">제조사</th>
                    <th class="border-0 text-uppercase small font-weight-bold">마트1</th>
                    <th class="border-0 text-uppercase small font-weight-bold">마트2</th>
                    <th class="border-0 text-uppercase small font-weight-bold">마트3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        {% for value in irdent_all.values %}
                        <td><img src="{% static '/images/cham-1.png' %}"></td>
                        <td>{{ value.name }}</td>
                        <td>{{ value.goods }}</td>
                        <td>{{ value.jejosa }}</td>
                        <td>{{ value.num }}</td>
                        <td>{{ value.num }}</td>
                        <td>{{ value.num }}</td>
                </tr>
                        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!---->
<div class="d-flex flex-row-reverse bg-dark text-white p-1">
    <div class="py-3 px-5 text-right">
        
        <div class="mb-2">마트3</div>
            <div class="h2 font-weight-light">
            {% for list in sum %}
                {{ list.add }}
            {% endfor %}
            </div>
        </div>

        <div class="py-3 px-5 text-right">
            <div class="mb-2">마트2</div>
            <div class="h2 font-weight-light">
            {% for list in sum %}
                {{ list.add }}
            {% endfor %}
            </div>
        </div>

        <div class="py-3 px-5 text-right">
            <div class="mb-2">마트1</div>
            <div class="h2 font-weight-light">
            {% for list in sum %}
                {{ list.add }}
            {% endfor %}
        </div>
    </div>
</div>

<!---->
<div class="gold-53 gold-52">
    <div class="gold_54">
        <div id="map" style="width:100%;height:100%;">
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4abb92669ec489cbf6342ed57e21e571"></script>
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
                    mapOption = { 
                        center: new kakao.maps.LatLng(37.5923,127.016), // 지도의 중심좌표
                        level: 1 // 지도의 확대 레벨
                    };
                
                var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
                
                //지도 확대 금지
                map.setZoomable(false)

                var positions = [
                {
                    title: '롯데슈퍼동소문점',
                    latlng: new kakao.maps.LatLng(37.5923,127.016)
                }
                ];

                {% comment %} var positions = "{{map}}".replace(/&#x27;/g, "\"");

                console.log(positions); {% endcomment %}

                var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 

                for (var i = 0; i < positions.length; i ++) {
                    
                    // 마커 이미지의 이미지 크기 입니다
                    var imageSize = new kakao.maps.Size(24, 35); 
                    
                    // 마커 이미지를 생성합니다    
                    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        title: positions[i].title,
                        position: new kakao.maps.LatLng(positions[i].latlng), // 마커를 표시할 위치
                        image : markerImage // 마커 이미지 
                    });
                }
                
                
            </script>
        </div>
    </div>
</div>

</body>
{% endblock %}