{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<div class="row p-5">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="border-0 text-uppercase small font-weight-bold">상품이미지</th>
                    <th class="border-0 text-uppercase small font-weight-bold">재료명</th>
                    <th class="border-0 text-uppercase small font-weight-bold">상품명</th>
                    <th class="border-0 text-uppercase small font-weight-bold">제조사</th>
                    <th class="border-0 text-uppercase small font-weight-bold">마트1</th>
                    <th class="border-0 text-uppercase small font-weight-bold">마트2</th>
                    <th class="border-0 text-uppercase small font-weight-bold">마트3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        {% for value in irdent_all.values %}
                        <td><img src="{% static '/images/cham-1.png' %}"></td>
                        <td>{{ value.name }}</td>
                        <td>{{ value.goods }}</td>
                        <td>{{ value.jejosa }}</td>
                        <td>{{ value.num }}</td>
                        <td>{{ value.num }}</td>
                        <td>{{ value.num }}</td>
                </tr>
                        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">마트3</div>
                            <div class="h2 font-weight-light">
                                {% for list in sum %}
                                    {{ list.add }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">마트2</div>
                            <div class="h2 font-weight-light">
                                {% for list in sum %}
                                    {{ list.add }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">마트1</div>
                            <div class="h2 font-weight-light">
                                {% for list in sum %}
                                    {{ list.add }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center; margin:50px;">
            <img src="{% static '/images/map-1.png' %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}