{% extends 'base.html'%}
{% load static %}
{% block content %}
    <section class="py-10 bg-white">
        <div class="mb-1 p-sm-5">
            <div class="d-block p-5 gold-2 gold-1">
                <hr><h2>제목 : {{ board.title }}</h2>
                <hr>
                <!-- <label for="title" class="form-label">제목</label> -->
                <!-- <input type="text" class="form-control col-sm-7" id="title" value="{{ board.title }}" readonly> -->
                <!-- <label for="content" class="py-4">내용</label> -->
                <div class="d-grid gap-2">
                    <button type="button" class="gold-4" disabled>작성일자: {{ board.created_dt }}</button>
                </div>
                <p class="fs-5 gold-3">{{ board.content }}</p>
                <form method="POST" action="{% url 'community:reply_create' board.id %}">
                    {% csrf_token %}
                    {% if ReplyForm.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in ReplyForm %}
                            {% if field.errors %}
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!--댓글 뿌려주기-->
                    {% for comment in comment_view %}
                    <hr>
                    <!--p>{{ comment.author }}</p-->
                    <p>작성자</p>
                    </hr>
                    <p>{{ comment.reply }}</p>
                    {% endfor %}
                    <!--댓글 입력-->
                    <div class="form-group py-3">
                        <textarea name="reply" id="reply" rows="2" class="form-control"></textarea>
                    </div>
                    <div class="d-inline p-2">
                        <button type="button" class="btn btn-danger" onclick="location.href='/comm/board'">돌아가기</button>
                        <button type="submit" class="btn btn-danger" >댓글 작성</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

