{% extends 'base.html' %}
{% comment %} 회사 회원가입 {% endcomment %}
{% load static %}
{% block content %}
<section class="py-10 bg-white" style="height: calc(96vh - 19px); width: 100%;">
    <div class="container my-3 mt-5" style="width:65vmin">
        <form method="post" name="frm" action="{% url 'user:signup' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="user_id" class="col-md-4 text-right">사용자 ID<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="text" class="form-control" name="user_id" id="user_id" value="{{ form.user_id.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="username" class="col-md-4 text-right">회사명<span style="color:red;"> * </span>:</label>
                <button type="button" class="col-md-1 btn btn-danger search gold-106"><i class="fa fa-search"></i></button>
                <div class="col-md-6 gold-106" width="100%">
                    <input type="text" class="form-control" name="username" id="username" list="ent_list" value="{{ form.username.value|default_if_none:'' }}">
                    <datalist id="ent_list" name="ent_list">
                        {% for ent in ent_nms %}
                            <option value="{{ent.ent_nm}}" />
                        {% endfor %}
                    </datalist>
                    
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="col-md-4 text-right">비밀번호<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="password2" class="col-md-4 text-right">비밀번호 확인<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="password" class="form-control" name="password2" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="user_phone" class="col-md-4 text-right">회사 전화번호<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="text" class="form-control" name="user_phone" id="user_phone" value="{{ form.user_phone.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="user_addr" class="col-md-4 text-right">회사 주소<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="text" class="form-control" name="user_addr" id="user_addr" value="{{ form.user_addr.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                
                <div class="col-md-7 gold-106">
                    <input type="hidden" class="form-control" name="user_level" id="user_level" value="2">
                </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-danger" onclick="checkForm();">생성하기</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    let btnSh = document.querySelector('.search')
    btnSh.addEventListener('click',e => {
        let ent_nm = document.querySelector("#username").value;
        $.ajax({
            url : '{% url 'user:ent_search' %}',
            type : 'POST',
            data : JSON.stringify({"ent_nm":ent_nm}),
            success:function(data){
                if(data.ENT_NM){
                    document.querySelector("#user_phone").value = data.ENT_PHONE;
                    document.querySelector("#user_addr").value = data.ENT_ADDR;
                }
                else {
                    document.querySelector("#username").value = "";
                    document.querySelector("#user_phone").value = "";
                    document.querySelector("#user_addr").value = "";
                    alert(data.alert);
                }
            },
            error: function(){
                alert('ERROR');
            }
        });
    });
    function checkForm(){
        if(frm.user_id.value == "") {
            frm.user_id.focus();
            alert("ID를 입력해 주십시오.");
        }
        else if(frm.username.value == "") {
            frm.username.focus();
            alert("회사명을 입력해 주십시오.");
        }
        else if(frm.password.value == "") {
            frm.password.focus();
            alert("비밀번호를 입력해 주십시오.");
        }
        else if(frm.password.value != frm.password2.value) {
            frm.password2.focus();
            alert("비밀번호가 일치하지않습니다.");
        }
        else {
            frm.submit();
        }
    }
</script>
{% endblock %}