{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-10 bg-white" style="height: calc(96vh - 19px); width: 100%;">
  <div class="container px-5 mt-5"  style="width:65vmin">
    <form method="post" class="post-form" action="{% url 'user:login' %}">
    {% csrf_token %}
    {% for field in forms %}
      <div class="mb-3">
        <label for="{{field.name}}">{{field.label}}</label>
        <input type="{{field.field.widget.input_type}}" class="form-control" name="{{field.name}}" id="{{field.name}}" value="{{ field.user_id.value|default_if_none:'' }}">
        {% if field.errors %}
          <div>{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-danger">로그인</button>
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'user:signselect' %}'">회원가입</button>
    </form>
  </div>
</section>
{% endblock %}

