{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
<section class=" gold-102 px-5 bg-white">
  <div class="container gold-101 my-3 mt-5" style="display: flex; flex-wrap: wrap; ">
    <div class="col-lg-2">
      <table  class = "col-md-12">
        <tbody>
          <tr onclick="location.href='{% url 'user:mypage' %}'" style="cursor:hand;">
            <td class="col-md-3" style="text-align:center;min-width: 40px;"><span class="material-symbols-outlined">history</span></td>
            <td class="col-md-9" style="font-size:11pt;min-width: 130px;">세일 이력</td>
          </tr>
          <tr onclick="location.href='{% url 'user:member_edit' %}'" style="cursor:hand;">
            <td class="col-md-3"  style="text-align:center;"><span class="material-symbols-outlined">settings</span></td>
            <td class="col-md-9" style="font-size:11pt;">회원 정보 수정</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End Col -->
    <div class="col-lg-10">
      <div class="card-style">
        <div>
          <div class="py-2 gold-104">
            <h4>세일 등록</h4>
          </div>
          <!-- End Title -->   
          <div class="container my-3 mt-4" style="width: 100vmin">
            <form method="post" name = "frm" action="{% url 'user:sale_upload' %}">
              {% csrf_token %}
              <div class="mb-4">
                <label for="sale_name" class="col-md-2 text-left" ><p>세일 제목 : </p></label>
                <div class="col-md-10 gold-106">
                  <input
                    type="text"
                    class="form-control"
                    name="sale_name"
                    id="sale_name"
                    value="{{ form.sale_name.value|default_if_none:'' }}"
                    style="width:50%;float:left;"
                  />
                </div>
              </div>
              <div class="mb-4">
                <label for="sale_date" class="col-md-2 text-left"
                  ><p>세일 기간 : </p></label
                >
                <div class="col-md-10 gold-106">
                  <input
                    type="date"
                    class="form-control"
                    name="start_date"
                    id="start_date"
                    value="{{ form.start_date.value|default_if_none:'' }}"
                    style="width:24%;float: left;"
                  />
                  <span style="float:left;"> ~ </span>
                  <input
                    type="date"
                    class="form-control"
                    name="end_date"
                    id="end_date"
                    value="{{ form.end_date.value|default_if_none:'' }}"
                    style="width:24%;float: left;"
                  />
                </div>
              </div>
              <div class="mb-4 pb-3" style="width:100%">
                <button
                type="button"
                class="btn btn-danger"
                style="font-size: 0.8rem;float:right;"
                onclick="add_row(); autoNumbering();"
              >
                상품추가
              </button>
              </div>
              <div class="mb-4" style="width:100%;height:calc(30vh - 20px);overflow:auto;">
                <table class="table top-selling-table">
                  <thead>
                    <tr>
                      <th >No</th>
                      <th width="60%;">상품이름</th>
                      <th width="20%;">가격</th>
                      <th width="10%;">삭제</th>
                    </tr>
                  </thead>
                  <tbody id ="my-tbody">
                    <tr>
                      <td>1</td>
                      <td>
                        <input type="text" id="sale_gds" name="sale_gds1" list="sale_nm" size="10" style="width:100%; border:0;">
                        <datalist id="sale_nm" name="sale_nm">
                          {% for gds in gd_nms %}
                            <option value="{{ gds.gd_nm }}" />
                          {% endfor %}
                        </datalist>
                      </td>
                      <td>
                        <input type="text" id="sale_price" name="sale_price1" style="width:100%; border:0;">
                      </td>
                      <td>
                        <span class="material-symbols-outlined gold-105" style="text-align:center;" onclick="delete_row(this); autoNumbering();">delete</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <input
                    type="hidden"
                    name="table_count"
                    id="table_count"
                    value=1
                  />
              <div class="mb-4" style="text-align:center;">
                <button
                type="button"
                class="btn btn-danger"
                style="font-size: 0.8rem;"
                onclick="checkForm();"
              >
                등록하기
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Col -->
  </div>
</section>
{% endblock %}
{% block script %}
<script>
  var my_tbody = document.getElementById('my-tbody');
  var table_count = document.getElementById("table_count");
  function add_row() {
    var row = my_tbody.insertRow(); 
    row.insertCell(0).innerHTML="";
    //상품이름
    var count = parseInt(table_count.value) + 1;
    var typeNm = row.insertCell(1);
    content = "<input type='text' id='sale_gds' name='sale_gds"+count+"' list='sale_nm' size='10' style='width:100%; border:0;'>";
    content += "<datalist id='sale_nm' name='sale_nm'>"
               + "{% for gds in gd_nms %}"
               + " <option value='{{  gds.gd_nm }}' /> "
               + " {% endfor %} "
               + " </datalist> ";
    typeNm.innerHTML = content;
    
    //가격
    var gdPrice = row.insertCell(2);
    gdPrice.innerHTML = "<input type='text' id='sale_price' name='sale_price"+count+"' size='10' style='width:100%; border:0;'>";
    //삭제
    var typeNm = row.insertCell(3);
    typeNm.innerHTML = "<span class='material-symbols-outlined gold-105' style='text-align:center;' onclick='delete_row(this); autoNumbering();'>delete</span>";

    document.getElementById("table_count").value=count;
  }
  
  function delete_row(obj) {
    if(my_tbody.rows.length<2) return;
    var tr = $(obj).parent().parent();
    tr.remove();
  }
 
  
  function autoNumbering(startnum){
    for(var i =0; i<my_tbody.rows.length; i++){
      my_tbody.rows[i].cells[0].innerHTML = "<label for='imanager_ipaddr_label'>"+(i+1)+"</label>";
    }
  }

  function checkForm(){
    if(frm.sale_name.value=="") {
      frm.sale_name.focus();
      alert("세일 제목을 입력해 주십시오.");
    }
    else if(frm.start_date.value==""|frm.start_date.value=="") {
      frm.start_date.focus();
      alert("세일 기간을 입력해 주십시오.");
    }
    else {
      frm.submit();
    }
  }


</script>
{% endblock%}