{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-10 bg-white">
    <div class="container my-3 mt-5" style="width:65vmin">
        <form method="post" action="{% url 'user:signup' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="user_id" class="col-md-4 text-right">사용자 ID<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="text" class="form-control" name="user_id" id="user_id" value="{{ form.user_id.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="username" class="col-md-4 text-right">사용자 이름<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="col-md-4 text-right">비밀번호<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="password2" class="col-md-4 text-right">비밀번호 확인<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="password" class="form-control" name="password2" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="user_phone" class="col-md-4 text-right">전화번호<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="text" class="form-control" name="user_phone" id="user_phone" value="{{ form.user_phone.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="user_addr" class="col-md-4 text-right">주소<span style="color:red;"> * </span>:</label>
                <div class="col-md-7 gold-106">
                    <input type="text" class="form-control" name="user_addr" id="user_addr" value="{{ form.user_addr.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <div class="col-md-7 gold-106">
                    <input type="hidden" class="form-control" name="user_level" id="user_level" value="1">
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-danger">생성하기</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}