{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-10 bg-white">
    <div class="container my-3 mt-5" style="width:65vmin">
        <form method="post" action="{% url 'user:signup' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id" class="col-md-4 text-right">사용자 ID<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="id" id="id" value="{{ form.id.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="username" class="col-md-4 text-right">사용자 이름<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="password1" class="col-md-4 text-right">비밀번호<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="password1" id="password1" value="{{ form.password1.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="password2" class="col-md-4 text-right">비밀번호 확인<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    <input type="password" class="form-control" name="password2" id="password2" value="{{ form.password2.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="phone" class="col-md-4 text-right">전화번호<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="phone" id="phone" value="{{ form.phone.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="gender" class="col-md-4 text-right">성별<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    {% comment %} <input type="text" class="form-control" name="gender" id="gender" value="{{ form.gender.value|default_if_none:'' }}"> {% endcomment %}
                    남자<input type="radio" name="choice" id="gender" value="{{ form.gender.value|default_if_none:'' }}">
                    여자<input type="radio" name="choice" id="gender" value="{{ form.gender.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="birth" class="col-md-4 text-right">생년월일<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    <input type="date" class="form-control" name="birth" id="birth" value="{{ form.birth.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="addr" class="col-md-4 text-right">주소<span style="color:red;"> * </span>:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="addr" id="addr" value="{{ form.addr.value|default_if_none:'' }}">
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-danger">생성하기</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}